<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>Give a complete answer</string>
		<key>shortcut</key>
		<string>gca</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>2-part question</string>
		<key>shortcut</key>
		<string>2pq</string>
	</dict>
	</array></plist>
